* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.clearfix::after {
	content: "";
	display: block;
	clear: both;
}

header {
	width: 100%;
	height: 72px;
	text-align: center;
}
header > h1 {
	line-height: 72px;
}

.nav-list {
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	height: 46px;
	text-align: center;
	margin: 0 auto;
}
.nav-list-items {
	display: inline-block;
	margin: 0 auto;
	line-height: 46px;
	padding: 0 20px;
}
.main {
	width: 840px;
	margin: 0 auto;
	margin-top: 50px;
	margin-bottom: 50px;
	text-align: center;
}
.row1 .row2 .row3 {
	height: 200px;
	width: 800px;
	margin: 0 auto;
}
.col {
	height: 200px;
	width: 200px;
	display: inline-block;
}
.row1 > .first {
	background-color: #e6ffe9;
	float: left;

}
.row1 > .second {
	background-color: #cbffd3;
	float: left;
}
.row1 > .third {
	background-color: #aeffbd;
	float: left;
}
.row1 > .force {
	background-color: #93ffab;
	float: left;
}
.row2 > .first {
	background-color: #f3ffd8;
	float: left;
}
.row2 > .second {
	background-color: #edffbe;
	float: left;
}
.row2 > .third {
	background-color: #e9ffa5;
	float: left;
}
.row2 > .force {
	background-color: #e4ff8d;
	float: left;
}
.row3 > .first {
	background-color: #d9e5ff;
	float: left;
}
.row3 > .second {
	background-color: #bad3ff;
	float: left;
}
.row3 > .third {
	background-color: #a4c6ff;
	float: left;
}
.row3 > .force {
	background-color: #8eb8ff;
	float: left;
}
footer {
	height: 120px;
	width: 100%;
	text-align: center;
	background-color: gray;
}
.footer-text {
	line-height: 120px;
	margin: 0 auto;
	color: #fff;
}
